main {
    /* background-color: brown; */
    width: 90%;
    height: 700px;
    margin: 40px;
}

.form{
    width: 80%;
    height: 700px;
    background-color: aquamarine;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form input{
    width: 70%;
    height: 20px;
    margin: 4px;
    margin-bottom: 30px;

}

.btn{
    width: 100px;
    height: 30px;
    margin-top: 15px;
}